*{
  margin: 0;
  padding: 0;
}

.app{

  width: 100vw;
  height: 100vh;
  

}

.nav{

  height: 80px;
  width: 99vw;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  
}

.nav__logo{

  height: 100%;
  width: fit-content;
 
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  color: white;

}
.nav__logo:hover{
  color: cyan;
 
}
.todo__container{

  
  margin: auto;

  margin-top: 100px;

  height: 450px;
  width: 300px;

  border: 2px solid gray;
}

.todo__input{

  display: flex;
  flex-wrap: nowrap;

  height: 40px;




}

.todo__content{

  /* border: 2px solid red; */

  margin-top: 20px;

  width: 100%;
  max-height: 350px;
  overflow-y: scroll;

}

.content{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid palevioletred;
  margin-top: 5px;
}

.text{

  font-size: 20px;
  font-weight: 500;
}


.app {
  background-color: #fafafa;
 
}

.app__header {
  background-color: white;
  padding: 20px;
  object-fit: contain;

  border-bottom: 1px soli lightgray;
}

.app__headerImage {
  height: 50px;
  width: 100px;

  object-fit: contain;
}

.app__signup{

  display: flex;
  flex-direction: column;
}
.au{

  display: flex;
  justify-content: space-between;
}

.au Button{

  margin-left: 10px;


}


